@import url(reset.css);

body {
    font: 13px/1.4 Arial, Verdana, Tahoma, sans-serif;
    background: url(../images/main_bg.jpg);
    color: #5e5e5e;
}

p {
    margin: 7px 0 13px;
}

a {
    text-decoration: none;
    color: #5e5e5e;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 18px;
    line-height: 1.1;
    margin-bottom: 6px;;
}

}

#logo {
    width: 241px;
    float: left;
    margin-top: 44px;
    margin-bottom: 42px;
    margin-left: 10px;
}

#baner {
    width: 468px;
    height: 60px;
    float: right;
    margin-top: 34px;
    margin-right: 10px;
}

.clear {
    clear: both;
}

#top_menu {
    height: 49px;
    background: url(../images/topmenu_bg.png) repeat-x; /*repeat-x - св-во которое растягивает картинку только по оси X горизонтали*/
}

#inner_menu, #wrapper, #middle_content, #header {
    min-width: 960px;
    max-width: 1200px;
    margin: 0 auto;
}

#inner_menu li {
    float: left;
    text-transform: uppercase;
}

#inner_menu a {
    color: #ebebeb;
    font-size: 12px;
    padding: 16px 15px;
    display: block;
    text-decoration: none;

}

#inner_menu a:hover {
    background: url(../images/menu_hover.png) repeat-x; /*c помощью однопиксельной картинки появился ховер в меню*/
}

#sidebar {
    width: 300px;
    /*height: 400px;*/
    /*background: #b2b2b2;*/
    float: right;
    padding-right: 10px;
}

#content {
    /*height: 400px;*/
    /*background: #30b03c;*/
    margin-right: 300px;
    padding: 15px 38px 0px 10px;

}

.thumnail {
    float: left;
    margin-bottom: 15px;
}

.thumnail img {
    border: 3px solid #e0e0e0;
}

.post_categories, .post_published  {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #aaaaaa;
    margin: 0 0 3px 0;
}

.clear {
    clear: both;
}

.post {
    border-bottom: 1px dashed #cecece;
    overflow: hidden;
    margin-top: 15px;
}

.post_content {
    margin-left: 180px;
}

#sidebar h3 {
    font-size: 15px;
    color: #999999;
    text-transform: uppercase;
    font-weight: bold;
    background: url(../images/sidebar_bg_h3.png) repeat-x 0 5px;
    padding-left: 22px;
    margin-top: 26px;
    margin-bottom: 25px;
}

#sidebar form {
    width: 220px;
    margin: 0 auto;
}

#sidebar h3 span {
    background: url(../images/main_bg.jpg); /*исчезает текстура под заголовком*/
    padding: 0 7px;
}

.text_fild {
    width: 140px;
    height: 31px;
    background: url(../images/input_bg.png) no-repeat;
    float: left;
}

.text_fild input {
    background: none;
    border: none;
    font-size: 12px;
    color: #b1b1b1;
    padding: 8px 10px;
    width: 120px;
    height: 15px;
}

.first_row, .second_row {
    width: 270px;
    margin: 0 auto;

}

.left {
    float: left;
    display: block;
}

.right {
    float: right;
    display: block;
}

.second_row {
    margin-top: 14px;
}

#categories ul {
    width: 140px;
}

#categories ul li {
    border-top: 1px dashed #e3e3e3;
    padding: 9px 0;
}

#categories ul li:first-child {
    border: none;
}

#categories ul li a {
    font-weight: bold;
}

#categories h3 {
    margin-bottom: 14px;
}

#pagination {
    margin: 34px 0;
}

#pagination ul {
    overflow: hidden;
}

#pagination ul li {
    float: left;
    margin-right: 2px;
}

#pagination ul li a {
    display: block;
    padding: 9px 14px 6px 14px;
    border-bottom: 3px solid #cccccc;

}

#pagination ul li a:hover {
    text-decoration: none;
    background: #e7e7e7;
}

#pagination .current, #pagination .current:hover {
    background: #333333;
    color: #ffffff;
    border: none;
    padding-bottom: 9px;

}

#pagination .next {
    padding-bottom: 8px;
    padding-top: 7px;
}

#footer {
    min-width: 960px;
}

#footer_top {
    height: 19px; /*высота картинки, фон футера- верхнего*/
    background: url(../images/footertop_bg_new.png) repeat-x;
}

#footer_middle {
    background: url(../images/footer_middle_bg.png);
}

.footer_box {
    padding-top: 30px; /*устранение конфлкта- ребенок (p) вылазит верхним мержином*/
    width: 30%;
    margin-right: 5%;
    float: left;
}

#footer_box {
    margin-right: 0;
}
